.contact-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.688);
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #072628;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #072628;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #00555b;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #072628;
  }
  
  .submit-button.submitting {
    animation: pulse 1.5s infinite;
  }

  .password-input-container {
    position: relative;
  }
  
  .password-toggle {
    color: #072628;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .forgot-password {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .forgot-password a {
    color: #072628;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


  